# Copier vers backend/.env pour le développement LOCAL

DJANGO_SECRET_KEY=change-me-local-dev-only
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

USE_SQLITE=False
DB_NAME=bouano_doumaintang
DB_USER=postgres
DB_PASSWORD="votre-mot-de-passe-postgres"
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

TARAMONEY_API_KEY=
TARAMONEY_BUSINESS_ID=
TARAMONEY_BASE_URL=https://www.dklo.co/api/tara/mobilepay
TARAMONEY_DEFAULT_WEBHOOK=

MINIMUM_CONTRIBUTION_AMOUNT=20000
FUNDRAISING_GOAL=5000000
